.footer-component {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    
    background-color: #000;
    color: #fff;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.about-us {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contact-us {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-us p {
    margin: 0;
}

.row {
    width: 10rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

