<div class="container">
    <div class="title">
        <h2>Listado de Películas</h2>
        <a mat-raised-button color="primary" routerLink="/movies/add">AGREGAR</a>
    </div>
    
    <div class="container-cards">
        <mat-card class="movie-card" *ngFor="let movie of movies">
            <mat-card-header>
                <mat-card-title> {{movie.title}} </mat-card-title>
                <mat-card-subtitle> {{movie.date}} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]=movie.image alt="Realted Photo">
            <mat-card-content>
                <p>{{movie.description}}</p>
            </mat-card-content>
            <mat-card-actions class="actions">
                <a mat-raised-button [routerLink]="['/movies/edit' , movie.id]" color="primary">EDITAR</a>
                <a mat-raised-button (click)="deleteMovie(movie.id)">ELIMIAR</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>